html{
    font-size: 67.5%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header {
    position: relative;
    color: #6a2c29;
    background-image: linear-gradient(to right, rgba(240, 240, 240, .8), rgba(240, 240, 240, .8)), url("./img/map1.jpg");
    height: 40rem;
}

.header-title {
    padding-top: 2rem;
    margin-left: 5rem;
}

.header-title h1 {
    font-size: 3rem;
}

.header-title h2{
    margin-left: 5rem;
}

.header-nav{
    font-size: 3rem;
    font-weight: 500;
    height: 8rem;
    position: sticky;
    top: 0;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: rgba(30, 30, 30, .4) 0rem .1rem .8rem;
}

.header-nav-home {
    margin-left: 50%;
}

section {
    min-height: 30rem;
    position: relative;
    z-index: -1;
    padding: 5rem;
}

section::before {
    content : "";
    position: absolute;
    left    : 5%;
    bottom  : 0;
    height  : 1px;
    width   : 90%;
    border-bottom:1px solid #aeaeae;
}

section:last-child::before {
    border-bottom: none;
}

.about-us {
    padding: 5rem; 
}

.about-us:before {

  }

.about-us-paragraph {
    text-align: center;
    font-size: 2rem;
}

.offer {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.offer p {
    font-size: 2.2rem;
    flex-grow: 1;
}

.offer-button {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    background-color: #6a2c29;
    border-radius: 5rem;
    color: white;
    flex-shrink: 1;
}